.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

.projects-heading {
  text-align: right;
  padding-right: 64px;
  color: #ffffff;
  text-decoration: underline;
}

.card {
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  position: relative;
}

.card-title {
  color: black;
}

.cardrow {
  padding: 64px;
}

.card {
  width: 350px;
}
