.background {
  position: relative;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.landing-text {
  text-align: center;
  z-index: 2;
}
