.about-me-container {
  color: #ffffff;
  padding-bottom: 64px;
}

.about-me-heading {
  position: relative;
  text-decoration: underline;
  padding-left: 64px;
  top: 0;
  left: 0;
}

.about-me-p {
  font-size: 16px;
  text-align: center;
  padding: 32px;
}

.details-container {
  background-color: #2a2a2a;
  text-align: center;
  font-size: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hobbies-container {
  background-color: #2a2a2a;
  text-align: center;
  font-size: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}
