.background {
  text-align: center;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 32px;
  height: 100vh;
  overflow: hidden;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
